body{
  background-color: rgb(32, 32, 32);
  color: rgb(233, 233, 233);
}
.dashboard {
  padding: 2rem 2rem;
  max-width: 1000px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.dashboard-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.user-info {
  background-color: #08141a;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.username {
  font-size: 1.5rem;
  color: #e8e8e8;
}

.admin-message {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.admin-true {
  color: rgb(31, 77, 31);
}

.admin-false {
  color: rgb(146, 28, 28);
}

/* Grid de productos */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Card de producto */
.product-card {
  width: 400px;
  margin: 20px 0;
  background-color: #08161e;
  border: 1px solid #02526b;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.product-image{
  width: 100%;
  object-fit: cover;
}

.product-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.product-price {
  color: #959292;
  font-size: 1.3rem;
}

/* Formulario */
.form-container {
  display: flex;
  justify-content: flex-start;
  padding: 2rem 0;
}


.product-form {
  background-color: #08141a;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form-input {
  margin: 20px 0;
  padding: 0.8rem 1rem;
  font-size: 1.3rem;
  border: 1px solid #157b92;
  background-color: rgb(210, 210, 210);
  border-radius: 8px;
  transition: border-color 0.2s;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
}

.form-button {
  padding: 0.8rem 1rem;
  background-color: #007bff;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form-button:hover {
  background-color: #0056b3;
}

/* Header */
.main-header {
  background-color: #08141a;
  border-bottom: 1px solid #02526b;
  padding: 1rem 0;
}

.header-container {
  max-width: auto;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  font-family: Arial, sans-serif;
  color: rgb(233, 233, 233);
}

.logotype {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  padding-right: 7.5rem;
}

.nav-list {
  list-style: none;
  font-size: 1.8rem;
  font-family: Arial, sans-serif;
  color: rgb(233, 233, 233);
  display: flex;
  gap: 2.5rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  color: rgb(233, 233, 233);
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: color 0.7s;
}

.nav-link:hover {
  color: #00a3cc;
  border-bottom-color: #00a3cc;
}