<div class="dashboard">
  <h1 class="dashboard-title">Real Time Products</h1>
  <div class="form-container">
    <form action="http://localhost:8080/realtimeproducts" method="post" id="formProduct" enctype="multipart/form-data" class="product-form">
      <h2>Upload Product</h2>

      <input type="text" name="title" id="inputTitle" placeholder="Insert title" class="form-input" required>
      <input type="text" name="description" placeholder="Insert description" class="form-input" required>
      <input type="text" name="code" placeholder="Insert code" class="form-input" required>
      <input type="number" name="price" id="inputPrice" placeholder="Insert price" class="form-input" required>

      <fieldset>
        <legend>Status</legend>
        <div>
          <input type="radio" id="id-status-true" name="status" value="true" class="form-input" checked/>
          <label for="id-status-true">True</label>
        </div>
        <div>
          <input type="radio" id="id-status-false" name="status" value="false" class="form-input"/>
          <label for="id-status-false">False</label>
        </div>
      </fieldset>

      <input type="number" name="stock" placeholder="Insert stock" class="form-input" required>

      <select name="category" class="form-input" required> 
        <option value="Buzos">Buzos</option>
        <option value="Camperas">Camperas</option>
      </select>

      <input type="file" name="thumbnailFile" id="inputThumbnailFile" class="form-input" required>

      <button type="submit" class="form-button">Submit Product</button>
    </form>
  </div>
  <div class="product-grid" id="productGrid"></div>
</div>

<script src="/socket.io/socket.io.js"></script>   <!-- Importo el script de la libreria socket.io instalada-->
<script src="/js/realTimeProducts.js"></script>