<div class="dashboard">
  <h1 class="dashboard-title">Real Time Products</h1>
  <div class="form-container">
    <form id="formProduct" enctype="multipart/form-data" class="product-form">
      <h2>Upload Product</h2>

      <input type="text" name="title" placeholder="Insert title" class="form-input" required>
      <input type="text" name="description" placeholder="Insert description" class="form-input" required>
      <input type="text" name="code" placeholder="Insert code" class="form-input" required>
      <input type="number" name="price" placeholder="Insert price" class="form-input" required>

      <select name="status"class="form-input" required> 
        <option value="True">Available</option>
        <option value="False">Unavailable</option>
      </select>
      
      <input type="number" name="stock" placeholder="Insert stock" class="form-input" required>

      <select name="category" class="form-input" required> 
        <option value="Buzos">Buzos</option>
        <option value="Camperas">Camperas</option>
      </select>
      <!--
      <input type="file" name="thumbnailFile" id="inputThumbnailFile" class="form-input" required>
      -->
      <button type="submit" class="form-button">Submit Product</button>
    </form>
  </div>

  <div class="product-grid" id="productGrid"></div>

</div>

<script src="/socket.io/socket.io.js"></script>   <!-- Importo el script de la libreria socket.io instalada-->
<script src="/js/realTimeProducts.js"></script>