<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Clothes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="main-header">
        <div class="header-container">
            <img src="/media/icons/logo.jpg" class="logotype" alt="logo">
            <h1 class="title">E-Clothes</h1>
            <nav class="nav">
                <ul class="nav-list">
                    <li><a href="/" class="nav-link">Home</a></li>
                    <li><a href="/realtimeproducts" class="nav-link">Real Time</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>

    </footer>
</body>

</html>